
#title {
    text-align: center;
}

.rodape{
    text-align: center;
    position: fixed;
    bottom: 0;
    
}

.user-input{
    text-align: center;
}


#Ok-button {
    align-items: center;
    
}

*{
    margin: 0%;
}